*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* NAVBAR START */

.list ul{
    
    list-style: none;
}
.list ul li{
    float: left;
    padding-left: 20px;  
}
.list ul li:hover{
    color: rgb(60, 224, 208);
    border-bottom: 1px solid rgb(60, 224, 208) ;
}

.code
{
    margin-left: 12rem !important;
}
.block i{
    color: rgb(15, 174, 174);
}
.block h4{
    color: rgb(58, 57, 57);
}
.block p{
    color: rgb(93, 91, 91);
}
/* NAVBAR END */

/* ABOUT START */

.about h4{
    color: rgb(113, 109, 109);
    font-size: 44px;
    font-weight: 100;
}
.position{
    position: relative;
}
.about-portrait{
    left: 70px;
    top:50px ;
    position: absolute;
}
.about-txt h4{
    color: gray;
}
.about-txt ul{
   
    justify-content: space-between;
    color: rgb(132, 201, 201);
    list-style: none;
}
.about-txt h3{
    font-size: 15px;
    font-weight: 700;
}
.about-txt i{
    color: aqua;
    font-size: 20px;
}
.about-txt p{
    color: gray;
}
.client img{
    width: 120px;
    margin-top: 100px;  
     margin-left: 50px;
}
/* ABOUT END */

/* SECTION - 2 START */

    .card{
        background-color: rgba(212, 209, 209, 0.89) !important;
    }
    .card h1{
        color: rgb(56, 70, 85);
    }
    .card p{
        color: gray;
    }
    .card button{
        background-color: rgb(35, 213, 213);
    }
/* SECTION - 2 END */

/* SECTION - 3 START */

    .contant{
        background-image: url("./img/onfocus-content-bg.jpg");
    }
    .contant h5{
        font-size: 14px;
    }
    .contant h5 i{
        color: aqua;
        font-size: 20px;
    }
    .contant button {
        background-color:rgb(35, 213, 213);
    }
    
    .mini i{
        font-size: 30px;
        color: aqua;
    }
    .moto :hover{
        color: azure;
        background-color: aqua;
    }
    .X i{
        color: aqua;
        
    }

/* SECTION - 3 END */

/* OUR SERVICES START */

.Services{
    font-size: 44px;
    font-weight: 200;
    color: gray;
}
.cards1 img{
margin-top:130px ;
width: 350px;
border-radius: 10%;
}
.cards2 img{
 margin-top: 100px;
 width: 350px;
border-radius: 10%;
   
}
.icon {
    position: relative;
}
.icon2{
    position: relative;
}
.detail { 
    left: 40px;
    top: 200px;
    position: absolute;
}
.detail1 { 
    left: 40px;
    top: 264px;
    position: absolute;
}


/* OUR SERVICES END */

/*TESTIMONIALS START  */

    .backgroundimage{
        color: aliceblue;
        margin-top: 120px;
        background-image: url('./img/testimonials-bg.jpg');
    }
    .backgroundimage img{
        width: 75px;
        border: 2px solid rgb(172, 167, 167);
    }
    .backgroundimage i{
        color: rgb(228, 228, 11);
    }
     .dot i{
        font-size: 40px !important;
        color: rgb(204, 228, 249);
    }

/* TESTIMONIALS END */

/* OUR PRICING START */
    .card-img{
        background-image: url(./img/pricing-bg.jpg);
        width: 100%;
        height: 100%;
        color: #fff;
    }
    .card-text i{
        font-size: 20px;
        color: rgb(27, 147, 147);
    }
    button:hover{
        background-color: black;
        color: #fff;
    }


/* OUR PRICING END */


/* PORTFOLIO START */

    .Portfolio ul{
        list-style: none;
      margin-left: 440px;       
        
    }
    .Portfolio li {
        padding-left: 10px;
    }

    .Portfolio li:hover{
        color: aqua;
    }
    

/* PORTFOLIO END */


/* OUR TEAM START */

.icon {
    position: relative;
}
.detail { 
    left: 40px;
    top: 300px;
    position: absolute;
}

/* OUR TEAM END */

/* CONTACT START */

    .Location i{
        font-size: 30px;
    }
    .Location1 h6{
        color: gray;
        font-size: 12px;
    }

/* CONTACT END */